body {
    background: blue;
    border-style: double;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
}
h2 {
    font-family: "Comic Sans MS";
    color: white;
    background-color: red;
    text-align: center;

}
table {
    background: grey;
    margin: 20px auto;
    padding: 5px;
    width: 68%;
    border-style: dotted;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
}
.kolom1 {
    font-weight: bold;
    width: 15%;
}

.kolom2 {
    width: 2%;
}
.kolom3 {
    width: 83%;
}

#txtNama, #txtKota {
    width: 186px;
}

#txtTgl, #txtBulan {
    width: 54px;
}
#txtTahun {
    width: 87px;
}

#txtalamat {
    width: 346px;
    height: 42px;
}

#btnKirim {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: green;
    padding: 10px 20px;
    border-radius: 15px;
}

#btnKirim:hover {
    color: black;
    background-color: blue;
}
#btnKirim:active {
    background-color: yellow;
}

#btnCancel {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 15px;
}

#btnCancel:hover {
    color: black;
    background-color: blue;
}
#btnCancel:active {
    background-color: yellow;
}
